.wrapper {
  width: 100vw;
}

/* navbar */
.navbar {
  width: 100vw;
  height: 10vh;
  padding: 10px 20px;
}

.navbar-search {
  width: 15%;
}
.navbar-search > input {
  width: 100%;
}

.navbar-content > a:hover {
  border: 2px solid #7cc8e7;
}
